<app-content-separator>
    <!-- main content-->
    <div class="card main-content">
        <div class="card-header bg-white">
            <button id="back"
                    class="btn btn-sm btn-secondary mr-1"
                    (click)="showHomePage()">
                <em class="fa fa-arrow-left"></em>
            </button>
            <strong>Post</strong>
        </div>
        <div class="card-body">
            <div id="title"><strong>{{post?.title}}</strong></div>
            <div id="body"
                 [innerHtml]="post?.body"></div>
        </div>

        <!-- Loader for Post REST call-->
        <app-spinner [showLoader]="!!loaderService.loaders[loaderNamesEnum.service1]"></app-spinner>

    </div>
    <!-- Context - Author Details-->
    <div class="card context">
        <div class="card-body"
             *ngIf="user">
            <div>
                <span class="fa fa-user mr-3"></span>
                <strong class="mr-1"
                        id="name">{{user.name}}</strong>
                <span class="text-muted"
                      id="username">@{{user.username}}</span>
            </div>
            <div>
                <em class="fa fa-link mr-3"></em>
                <a href="#"
                   id="website">{{user.website}}</a>
            </div>
        </div>

        <!-- Loader for User REST call-->
        <app-spinner
                     [showLoader]="loaderService.loaders[loaderNamesEnum.service1] || loaderService.loaders[loaderNamesEnum.service2]">
        </app-spinner>

    </div>
</app-content-separator>