<footer class="border-top py-3 text-white bg-dark mt-3">
   <div class="row">
      <span class="copy-right-notice col-lg-2 col-md-4 col-4 text-center text-white">&copy; 2020</span>
      <a href="#"
         class="col-lg-2  col-4 text-center text-white">Terms</a>
      <a href="#"
         class="col-lg-2  col-4 text-center text-white">Privacy</a>
      <a href="#"
         class="col-lg-2  col-4 text-center text-white">Security</a>
      <a href="#"
         class="col-lg-2  col-4 text-center text-white">Contact</a>
      <a href="#"
         class="col-lg-2  col-4 text-center text-white">Pricing</a>
   </div>
</footer>